@keyframes change {
    0%{
        transform: translate(800%,10%);
    }
    100%{
      
            transform: translate(calc(50vw - 25px), calc(50vh - 25px)) rotate(1turn);
    }
}



@keyframes Opacity {
    0%{
      opacity: 1;
    }    
    20%{
      opacity: .8;
      transform: translateX(-2rem);
    }
    50%{
      opacity: .5;
    }
    100%{
      opacity: 0;
    }
  }
  
  @keyframes Disappear {
      0%{
          transform: translateX(0%);
      }
      50%{
          opacity: .5;
          transform: translateX(-30%); 
      }
      100%{
          transform: translateX(-50%); 
          opacity: 0;
       
      }
      }
  
  @keyframes ReverseOpacity{
      0%{
          transform: translateY(-100%);
          filter: blur(.4rem);
          opacity:0;
        }    
       
      50%{
          transform: translateY(-20%);
          filter: blur(.2rem);
          opacity: .8;
      }
        100%{
          opacity: 1;
          transform: translateX(0%);
        }
  }
  
  @keyframes change_1 {
      0%{
          background: #2d2f41;  
      }
   
      100%{
          background:rgba(255, 255, 255, 0.1);
          box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.5);
          /* overflow: hidden; */
          border-top:.1rem solid rgba(255, 255, 255, 0.5);
          border-left: .1rem solid rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(.5rem);
          height: 30vw;
          width: 30vw;
          transform: translate(-10%,0%);
      }
  }

  @keyframes change_2 {
    0%{
        background: #2d2f41;  
    }
 
    100%{
        background:rgba(255, 255, 255, 0.1);
        box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.5);
        /* overflow: hidden; */
        border-top:.1rem solid rgba(255, 255, 255, 0.5);
        border-left: .1rem solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(.5rem);
        height: 18rem;
        width: 18rem;
        transform: translate(-10%,0%);
    }
}



  @keyframes Clock {
    0%{
        background:#25252d;
    }

    
    50%{
        background:#c0c0c8;
   
    }
    100%{
        background:#25252d;
    }
}

@keyframes S_Opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: .6;
    }
}

@keyframes ReverseOpacityLeft_1 {
0%{
    transform: translate(100%,8vw) ;
    opacity:0;
}
100%{
    opacity:1;
    // transform: translate(-10%,7.5vw);
}
}

@keyframes ReverseOpacityLeft_2 {
    0%{
        opacity:0;
        transform: translate(100%,7vw) ;
    }
    100%{
        // transform: translate(-10%,8.5vw);
        opacity:1;
    }}

@keyframes ReverseOpacityLeft_3 {
    0%{
        opacity:0;
        transform: translate(100%,-1vw) ;
    }
    100%{
        // transform: translate(-10%,-1.5vw);
        opacity:1;
    }
    }

    @keyframes ReverseOpacityLeft_4 {
    0%{
        opacity:0;
        transform: translate(100%,-5vw) ;
     }
     100%{
        //  transform: translate(0%,-4.5vw);
          opacity:1;
      }
      }
    
@keyframes MovementY {
    0%{
        transform:translate(200%,-110%) ;
    }
    50%{
        transform:translate(200%,-90%) ;
    }
    100%{
        transform:translate(200%,-110%) ;
    }
}

@keyframes MovementX {
    0%{
        transform:translate(100%,200%) ;
    }
    50%{
        transform:translate(80%,200%) ;
    }
    100%{
        transform:translate(100%,200%) ;
    }
}

@keyframes Movement {
    0%{
    }
    50%{
        transform:translate(0,10%) ;
    }
    100%{
 
    }
}

@keyframes Movement_Y {
    0%{
        transform:translate(40%,-150%);
    }
    50%{
        transform:translate(40%,-160%);
    }
    100%{
        transform:translate(40%,-150%);
    }
}

@keyframes Movement_X {
    0%{
        transform:translate(-50%,200%);
    }
    50%{
        transform:translate(-40%,200%);
    }
    100%{
        transform:translate(-50%,200%)
    }
}